<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controller.LogIn.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInLogOut</servlet-name>
        <servlet-class>controller.LogIn.LogInLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LogIn.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.LogIn.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choiceTable</servlet-name>
        <servlet-class>Order.choiceTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListTable</servlet-name>
        <servlet-class>Order.GetListTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Action</servlet-name>
        <servlet-class>controller.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>controller.Product.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productInfo</servlet-name>
        <servlet-class>controller.Product.productInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.Product.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choiceBlog</servlet-name>
        <servlet-class>Blog.choiceBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOption</servlet-name>
        <servlet-class>controller.manage.manageOption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manage</servlet-name>
        <servlet-class>controller.manage.manage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productAction</servlet-name>
        <servlet-class>controller.manage.productAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAdd</servlet-name>
        <servlet-class>controller.manage.checkAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tableAction</servlet-name>
        <servlet-class>controller.manage.tableAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInLogOut</servlet-name>
        <url-pattern>/LogInLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choiceTable</servlet-name>
        <url-pattern>/choiceTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListTable</servlet-name>
        <url-pattern>/GetListTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productInfo</servlet-name>
        <url-pattern>/productInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choiceBlog</servlet-name>
        <url-pattern>/choiceBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOption</servlet-name>
        <url-pattern>/manageOption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manage</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productAction</servlet-name>
        <url-pattern>/productAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAdd</servlet-name>
        <url-pattern>/checkAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tableAction</servlet-name>
        <url-pattern>/tableAction</url-pattern>
    </servlet-mapping>
</web-app>
